.footer{
    height: 9.4rem;
    width: 100%;
    background-color: black;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    padding-bottom: 4px;
}

.linkColor {
    color: white;
}

.linkColor:hover {
    color: red;
}

.myName{
    color: white;
}

.footerChild{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.gitHubIcon {
    transform: scale(0.3);
    width: 30%;
}

@media (max-width: 1024px){
    .gitHubIcon {
        width: 23%;
        transform: scale(0.3);
    }
}

@media (max-width: 843px){
}

@media (max-width: 768px){
}

@media (max-width: 425px){
}

@media (max-width: 375px){
}

@media (max-width: 320px){
}