.pokemonCard {
    height: 30rem;
    width: 24rem;
    border: 2px solid black;
    border-radius: 8px;
    flex: 1 0 24%;
    max-width: 22rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.pokeballBelt {
    height: 3%;
    background-color: black;
    display: flex;
    justify-content: center;
}

.pokeballButton {
    background-color: black;
    width: 1.8rem;
    height: 1.9rem;
    transform: translateY(-25%);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whiteButton {
    width: 70%;
    height: 70%;
    background-color: white;
    border-radius: 30px;
}

.cardBody {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.cardBottom {
    height: 22%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
}

.legendary{
    animation: legendaryCard 5s linear infinite;
    box-shadow: #dfc187 0px 54px 55px, #feffde 0px -12px 30px, #b69957 0px 4px 6px, #ece7b3 0px 12px 13px, #eed292 0px -3px 5px;
}

.mythical{
    animation: mythicalCard 5s linear infinite;
    box-shadow: #7b0001 0px 54px 55px, #ff2928 0px -12px 30px, #603479 0px 4px 6px, #212529 0px 12px 13px, #d93c6b 0px -3px 5px;
}

.shiny { 
    animation: shinyCard 5s linear infinite;
    box-shadow: #011f4b 0px 30px 55px, #03396c 0px -5px 30px, #005b96 0px 1px 6px, #6497b1 0px 5px 13px, #b3cde0 0px 0px 5px;
}


@media (max-width: 1024px){
    .pokemonCard {
        flex: 34%;
    }
}

@media (max-width: 843px){
    .pokemonCard {
        flex: 34%;
    }
}

@media (max-width: 768px){
    .pokemonCard {
        flex: 51%;
    }
}

@media (max-width: 425px){
    .pokemonCard {
        flex: 51%;
        max-width: 300px;
    }
}

@media (max-width: 375px){
    .pokemonCard {
        flex: 51%;
    }
}

@media (max-width: 320px){
    .pokemonCard {
        flex: 51%;
    }
}


@keyframes legendaryCard {
    0% {
        box-shadow: #dfc187 0px 30px 55px, #feffde 0px -12px 30px, #b69957 0px 4px 6px, #ece7b3 0px 12px 13px, #eed292 0px -3px 5px;
    }
    25%{
        box-shadow: #dfc187 0px 15px 60px, #feffde 0px -30px 32px, #b69957 0px 4px 6px, #ece7b3 0px 10px 11px, #eed292 0px -8px 5px;
    }
    50%{
        box-shadow: #dfc187 0px 30px 55px, #feffde 0px -12px 30px, #b69957 0px 4px 6px, #ece7b3 0px 12px 13px, #eed292 0px -3px 5px;
    }
    75%{
        box-shadow: #dfc187 0px 15px 60px, #feffde 0px -30px 32px, #b69957 0px 4px 6px, #ece7b3 0px 10px 11px, #eed292 0px -8px 5px;
    }
    100%{
        box-shadow: #dfc187 0px 30px 55px, #feffde 0px -12px 30px, #b69957 0px 4px 6px, #ece7b3 0px 12px 13px, #eed292 0px -3px 5px;
    }
}

@keyframes mythicalCard {
    0% {
        box-shadow: #7b0001 0px 30px 55px, #ff2928 0px -12px 30px, #603479 0px 4px 6px, #212529 0px 12px 13px, #d93c6b 0px -3px 5px;
    }
    25%{
        box-shadow: #7b0001 0px 15px 60px, #ff2928 0px -30px 32px, #603479 0px 4px 6px, #212529 0px 10px 11px, #d93c6b 0px -8px 5px;
    }
    50%{
        box-shadow: #7b0001 0px 30px 55px, #ff2928 0px -12px 30px, #603479 0px 4px 6px, #212529 0px 12px 13px, #d93c6b 0px -3px 5px;
    }
    75%{
        box-shadow: #7b0001 0px 15px 60px, #ff2928 0px -30px 32px, #603479 0px 4px 6px, #212529 0px 10px 11px, #d93c6b 0px -8px 5px;
    }
    100%{
        box-shadow: #7b0001 0px 30px 55px, #ff2928 0px -12px 30px, #603479 0px 4px 6px, #212529 0px 12px 13px, #d93c6b 0px -3px 5px;
    }
}

@keyframes shinyCard {
    0% {
        box-shadow: #011f4b 0px 30px 55px, #03396c 0px -5px 30px, #005b96 0px 1px 6px, #6497b1 0px 5px 13px, #b3cde0 0px 0px 5px;
    }
    25%{
        box-shadow: #011f4b 0px 15px 60px, #03396c 0px -30px 32px, #005b96 0px 4px 6px, #6497b1 0px 10px 11px, #b3cde0 0px -8px 5px;
    }
    50%{
        box-shadow: #011f4b 0px 30px 55px, #03396c 0px -5px 30px, #005b96 0px 1px 6px, #6497b1 0px 5px 13px, #b3cde0 0px 0px 5px;
    }
    75%{
        box-shadow: #011f4b 0px 15px 60px, #03396c 0px -30px 32px, #005b96 0px 4px 6px, #6497b1 0px 10px 11px, #b3cde0 0px -8px 5px;
    }
    100%{
        box-shadow: #011f4b 0px 30px 55px, #03396c 0px -5px 30px, #005b96 0px 1px 6px, #6497b1 0px 5px 13px, #b3cde0 0px 0px 5px;
    }
}


