.pokemonDescription {
    row-gap: 1px;
    display: flex;
    flex-flow: row wrap;
    background-color: gray;
    min-height: 60vh;
    width: 64%;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.pokemonDescriptionStats {
    display: flex;
    flex-flow: row nowrap;
    background-color: white;
    height: 50%;
    width: 50%;
    border: 1px solid black;
    border-radius: 4px;
    margin: 0.5%;
}

.siteBody{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    height: 100%;
}

.container{
    height: 100%;
}

.pokemonTitle{
    font-family: PokemonGb;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 0.5%;
    color: black;
    width: 20%;
    background-color: whitesmoke;
    height: 50%;
    border-radius: 5px;
}

.pokemonTypes{
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    height: 50%;
    width: 100%;
    border: 1px solid black;
}

.aboutPokemon{
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: flex-start;
    height: 50%;
    width: 26%;
    margin: 0.5%;
    gap: 1%;
}

.title{
    font-size: smaller;
    padding-top: 1rem;
}

.legendary{
    animation: legendaryCard 5s linear infinite;
    box-shadow: #dfc187 0px 54px 55px, #feffde 0px -12px 30px, #b69957 0px 4px 6px, #ece7b3 0px 12px 13px, #eed292 0px -3px 5px;
}

.mythical{
    animation: mythicalCard 5s linear infinite;
    box-shadow: #7b0001 0px 54px 55px, #ff2928 0px -12px 30px, #603479 0px 4px 6px, #212529 0px 12px 13px, #d93c6b 0px -3px 5px;
}

.shiny { 
    animation: shinyCard 5s linear infinite;
    box-shadow: #011f4b 0px 30px 55px, #03396c 0px -5px 30px, #005b96 0px 1px 6px, #6497b1 0px 5px 13px, #b3cde0 0px 0px 5px;
}

.pokemonTrivia{
    display: flex;
    flex-flow: row nowrap;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    width: 100%;
    height: 50%;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.pokemonTrivia p{
    font-family: PokemonGb;
    font-size: 0.5rem;
    color: black;
}

@media (max-width: 1024px){
    .pokemonTitle{
        width: 30%;
        max-height: 45%;
    }

    .title{
        padding-top: 0;
    }

    .pokemonDescriptionStats {
        height: 30%;
        width: 70%;
    }
}

@media (max-width: 843px){
    .title{
        font-size: 70%;
        padding-top: 0;
    }
}

@media (max-width: 768px){
    .pokemonTitle{
        width: 40%;
        max-height: 45%;
    }

    .pokemonDescriptionStats{
        width: 60%;
    }
}

@media (max-width: 425px){
    .pokemonDescription {
        width: 95%;
    }

    .pokemonTitle{
        width: 45%;
        max-height: 30%;
    }

    .title{
        font-size: 60%;
        padding-top: 0;
    }
}

@media (max-width: 375px){
    .pokemonTitle{
        width: 100%;
        max-height: 45%;
    }

    .title{
        font-size: 60%;
        padding-top: 0;
    }
}

@media (max-width: 320px){
    .pokemonTitle{
        width: 100%;
        max-height: 40%;
    }

    .title{
        font-size: 60%;
        padding-top: 0;
    }
    
}

@keyframes legendaryCard {
    0% {
        box-shadow: #dfc187 0px 30px 55px, #feffde 0px -5px 30px, #b69957 0px 1px 6px, #ece7b3 0px 5px 13px, #eed292 0px 0px 5px;
    }
    25%{
        box-shadow: #dfc187 0px 15px 60px, #feffde 0px -30px 32px, #b69957 0px 4px 6px, #ece7b3 0px 10px 11px, #eed292 0px -8px 5px;
    }
    50%{
        box-shadow: #dfc187 0px 30px 55px, #feffde 0px -5px 30px, #b69957 0px 1px 6px, #ece7b3 0px 5px 13px, #eed292 0px 0px 5px;
    }
    75%{
        box-shadow: #dfc187 0px 15px 60px, #feffde 0px -30px 32px, #b69957 0px 4px 6px, #ece7b3 0px 10px 11px, #eed292 0px -8px 5px;
    }
    100%{
        box-shadow: #dfc187 0px 30px 55px, #feffde 0px -5px 30px, #b69957 0px 1px 6px, #ece7b3 0px 5px 13px, #eed292 0px 0px 5px;
    }
}

@keyframes mythicalCard {
    0% {
        box-shadow: #7b0001 0px 30px 55px, #ff2928 0px -12px 30px, #603479 0px 4px 6px, #212529 0px 12px 13px, #d93c6b 0px -3px 5px;
    }
    25%{
        box-shadow: #7b0001 0px 15px 60px, #ff2928 0px -30px 32px, #603479 0px 4px 6px, #212529 0px 10px 11px, #d93c6b 0px -8px 5px;
    }
    50%{
        box-shadow: #7b0001 0px 30px 55px, #ff2928 0px -12px 30px, #603479 0px 4px 6px, #212529 0px 12px 13px, #d93c6b 0px -3px 5px;
    }
    75%{
        box-shadow: #7b0001 0px 15px 60px, #ff2928 0px -30px 32px, #603479 0px 4px 6px, #212529 0px 10px 11px, #d93c6b 0px -8px 5px;
    }
    100%{
        box-shadow: #7b0001 0px 30px 55px, #ff2928 0px -12px 30px, #603479 0px 4px 6px, #212529 0px 12px 13px, #d93c6b 0px -3px 5px;
    }
}

@keyframes shinyCard {
    0% {
        box-shadow: #011f4b 0px 30px 55px, #03396c 0px -5px 30px, #005b96 0px 1px 6px, #6497b1 0px 5px 13px, #b3cde0 0px 0px 5px;
    }
    25%{
        box-shadow: #011f4b 0px 15px 60px, #03396c 0px -30px 32px, #005b96 0px 4px 6px, #6497b1 0px 10px 11px, #b3cde0 0px -8px 5px;
    }
    50%{
        box-shadow: #011f4b 0px 30px 55px, #03396c 0px -5px 30px, #005b96 0px 1px 6px, #6497b1 0px 5px 13px, #b3cde0 0px 0px 5px;
    }
    75%{
        box-shadow: #011f4b 0px 15px 60px, #03396c 0px -30px 32px, #005b96 0px 4px 6px, #6497b1 0px 10px 11px, #b3cde0 0px -8px 5px;
    }
    100%{
        box-shadow: #011f4b 0px 30px 55px, #03396c 0px -5px 30px, #005b96 0px 1px 6px, #6497b1 0px 5px 13px, #b3cde0 0px 0px 5px;
    }
}
  