.footer{
    height: 5rem;
    width: 100%;
    background-color: black;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.linkColor {
    color: white;
}

.linkColor:hover {
    color: red;
}

.myName{
    color: white;
}

.footerChild{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.gitHubIcon {
    transform: scale(0.3);
    width: 30%;
}

@media (max-width: 320px){
    .footer{
        min-width: 320px;
        position: absolute;
        bottom: 0;
    }
}

@media (max-width: 900px) {
    .gitHubIcon {
        width: 23%;
        transform: scale(0.3);
    }
}