.cardHeader{
    height: 25%;
    border-radius: 6px 6px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemonName {
    font-family: 'PokemonGB';
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: medium;
}

.pokeball {
    background-color: red;
}

.greatball{
    background-color: #057cad;
}