  .CardListContainer {
    display: flex;
    flex-flow: row nowrap;
    gap: 5rem;
    margin: auto;
    padding: 0 5% 0 5%;
    text-align: center;
    justify-content: center;
  }
  
  .generationSelect {
    margin-bottom: 3rem;
  }
  
  .genButton{
    height: 5rem;
    width: 10rem;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(21rem);
    color: white;
    font-size: larger;
    margin-right: 1rem;;
  }
  
  .leftButton{
    background-color: black;
  }
  
  .rightButton{
    background-color: red;
  }
  
  .cardListBody{
    min-height: 80%;
  }
  
  @media (max-width: 700px){
    .CardListContainer {
      padding: 0 2% 0 2%;
      gap: 0;
    }
  }
  
  @media(max-width: 478px){
    .genButton{
      display: none;
    }
  
    .CardListContainer{
      margin-bottom: 2rem;
    }
  }