.header {
    top: 0;
    width: 100%;
    background-color: red;
    height: 80%;
    transition: height .5s;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.navbar {
    width: 100%;
    height: 20%;
    background-color: black;
}

.headerDiv {
    position: sticky;
    top: 0;
    z-index: 9999999;
    height: 8rem;
    background-color: red;
}

.headerDiv-scrolled {
    height: 4rem;
}

.header-scrolled {
    height: 4rem;
}

.headerTitle{
    font-family: Sword;
    margin: 0;
    text-shadow: 4px 1px black;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.navbar-scrolled{
    height: 40%;
}

@media (max-width: 1024px){
    .header-scrolled {
        height: 5rem;
    }
}

@media (max-width: 768px){
}

@media (max-width: 425px){
    .header-scrolled {
        height: 6rem;
    }
}

@media (max-width: 375px){
}

@media (max-width: 320px){
}