#root {
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.CardListContainer {
  display: flex;
  flex-flow: row nowrap;
  gap: 5rem;
  margin: auto;
  padding: 0 5% 0 5%;
  text-align: center;
}

.generationSelect {
  margin-bottom: 1rem;
}

.genButton{
  height: 5rem;
  width: 10rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(21rem);
  color: white;
  font-size: larger;
  margin-right: 1rem;;
}

.leftButton{
  background-color: black;
}

.rightButton{
  background-color: red;
}

@media (max-width: 700px){
  .CardListContainer {
    padding: 0 2% 0 2%;
    gap: 0;
  }
}